@import "tailwindcss-v4";
@import "../../node_modules/preline/variants.css";

/* Laravel */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Preline UI */
@source "../../node_modules/preline/dist/*.js";

/* Plugins */
@plugin "@tailwindcss/forms";

@layer base {
    [x-cloak] {
        display: none !important;
    }

    html {
        font-family: inter, ui-monospace, SFMono-Regular, SF Mono, Menlo,
            Consolas, Liberation Mono, monospace !important;
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@layer components {
    .page-container {
        @apply w-full max-w-screen-xl mx-auto px-4;
    }
}
